@model VehicleManagement.MVC.Models.CreateVehicleMakeViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VehicleMake</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (Model.Response != null && Model.Response.Result == false)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Warning!</strong> Please check the form for errors.
                @Model.Response.Errors.FirstOrDefault()
            </div>
            
        }
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Request.Name" class="control-label"></label>
                <input asp-for="Request.Name" class="form-control" />
                <span asp-validation-for="Request.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.Abrv" class="control-label"></label>
                <input asp-for="Request.Abrv" class="form-control" />
                <span asp-validation-for="Request.Abrv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
